body {

    background-color: burlywood !important;

}

.containerAll {

    display: flex;
    justify-content: center;
    width: 100%;

}

.userStyle {
    color: white;
    margin-left: 0.5em;
    font-weight: 900;
    text-shadow: 5px 5px 5px black;


}

.btnCategories {

    width: 100%;
    background-color: transparent !important;
    border: 1px solid black !important;
    transition: 0.3s !important;


}

.btnCategories:hover {


    background-color: brown !important;
    border: 1px solid black !important;
    font-weight: 900 !important;
}

.btnMoney {


    background-color: transparent !important;
    border: none !important;
    transition: 0.3s !important;
    font-weight: 900 !important;

}



.containerItems {

    display: flex;
    gap: 1em;
  
}

.moneyIcon {

    width: 35px !important;

    width: 50px;
    border-radius: 40px;
 box-shadow: 0px 0px 4px 0px black;
 transition: 1s !important;
}

.moneyIcon:hover {


    background-color: brown !important;
   
    font-weight: 900 !important;
    rotate: 15deg;
}

.moneyEdit {

    display: flex;
    gap: 1em;
}