.navbar {

    border-bottom: 4px solid rgb(201, 133, 45) ;
    background-color: brown !important;
    font-weight: 900;

}

.navbar-brand {

    color: burlywood !important;
    text-shadow: 1px 1px 1px black;
}


.logoutIcon {

    transition: 1s;

}

.logoutIcon:hover {

    transform: scale(1.2);

}